{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
<!-- messages -->
{% if messages %}
  {% for message in messages %}
    <div class="notification is-{{ message.tags }}">
      <button class="delete"></button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<!-- end messages -->
<section class="section">
  <div class="container">
    <h1 class="title">Change Password Form</h1>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="notification is-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="notification is-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      {% endif %}
      {% for field in form %}
      <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control">{{ field }}</div>
        {% if field.help_text %}
        <ul>
          <li class="help">{{ field.help_text|safe }}</li>
        </ul>
        {% endif %}
      </div>
      {% endfor %}
      <div class="field">
        <div class="control">
          <button class="button is-info" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/delete-notification.js' %}"></script>
{% endblock %}