[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
redis = "*"
sorl-thumbnail = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
django-filter = "*"
psycopg2 = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"
chartkick = "*"
django-autocomplete-light = "*"
django-simple-bulma = "*"
drf-spectacular = "*"
marvelous = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
pytest-xdist = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
