[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0.0"
pillow = "*"
redis = "*"
sorl-thumbnail = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
django-filter = "*"
psycopg2 = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"
chartkick = "*"
django-autocomplete-light = "*"
django-simple-bulma = "*"
drf-spectacular = "*"
serifan = "*"
esak = "*"
django-searchable-select = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
pytest-xdist = "*"
pytest-cov = "*"
pre-commit = "*"
isort = "*"
seed-isort-config = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
