[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
redis = "*"
sorl-thumbnail = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
django-filter = "*"
psycopg2 = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"
django-autocomplete-light = "*"
drf-spectacular = "*"
django-simple-bulma = "<=2.4"
django-select2 = "*"
chartkick = "~=0.5.0"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
pytest-xdist = "*"
pytest-cov = "*"
pre-commit = "*"
isort = "*"
seed-isort-config = "*"
pytest-django = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
