{% extends parent_template|default:"base.html" %}
{% load static %}
{% load bulma_tags %}

{% block content %}
  <!-- messages -->
  {% if messages %}
    {% for msg in messages %}
      <div class="notification is-{{ msg.level_tag|bulma_message_tag }}">
        <button class="delete"></button>
        {{ msg.message|safe }}
      </div>
    {% endfor %}
  {% endif %}
  <!-- end messages -->
  <div class="container">
    <h1 class="title">Change Password Form</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="field" data-field-name="{{ field.name }}">
          {% if field|is_field_type:'input' %}
            <label class="label{% if field.field.required %} {{ form.required_css_class }}{% endif %}"
                   for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="control">
              {{ field|add_field_class:'input' }}
              {% for error in field.errors %}
                <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
              {% endfor %}
              {% if field.help_text %}
                <p class="help">
                  {{ field.help_text|safe }}
                </p>
              {% endif %}
            </div>
          {% else %}
            {% if field.auto_id %}
              <label class="label{% if field.field.required %} {{ form.required_css_class }}{% endif %}"
                     for="{{ field.auto_id }}">{{ field.label }}</label>
            {% endif %}
            <div class="control{% if field|is_multiple %} multiple-checkbox{% endif %}">
              {{ field }}
              {% for error in field.errors %}
                <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
              {% endfor %}
              {% if field.help_text %}
                <p class="help">
                  {{ field.help_text|safe }}
                </p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="field">
        <div class="control">
          <button class="button is-info" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'site/js/delete-notification.js' %}"></script>
{% endblock %}