{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Arc Detail{% endblock page-title %}

{% block comic_content %}
  <!-- arc nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_arc %}
          <a class="button is-link" href="{% url 'arc:detail' navigation.previous_arc.slug %}">
            &laquo; Previous Arc
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Arc</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_arc %}
          <a class="button is-link" href="{% url 'arc:detail' navigation.next_arc.slug %}">
            Next Arc &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Arc &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end arc nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ arc }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
    {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'arc:update' arc.slug %}" title="Edit arc">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'arc:delete' arc.slug %}" title="Delete arc">Delete</a>
      </p>
    {% else %}
      <p class="level-item">
        <a class="button is-primary" title="Edit arc" disabled>Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" title="Delete arc" disabled>Delete</a>
      </p>
    {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- arc logo -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if arc.image %}
            {% thumbnail arc.image "320x480" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ arc.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ arc.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of arc logo -->

    <!-- arc summary -->
    <div class="column">
      <div class="box">
        {% if arc.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ arc.desc|linebreaksbr }}</p>
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
      {% with issues=arc.issue_set.all %}
        {% if issues %}
          <div class="box">
            <h1 class="title is-5">List of Issues</h1>
            <div class="content"></div>
              <dl>
              {% for issue in issues %}
                <li><a href="{% url 'issue:detail' issue.slug %}">{{ issue }}</a></li>
              {% endfor %}
              </dl>
          </div>
        {% endif %}
      {% endwith %}
    </div>
    <!-- end of arc summary -->
  </div>
  <!-- end of main page content -->
{% endblock %}
