{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Character Detail{% endblock page-title %}

{% block comic_content %}
  <!-- character nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_character %}
          <a class="button is-link" href="{% url 'character:detail' navigation.previous_character.slug %}">
            &laquo; Previous Character
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Character</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_character %}
          <a class="button is-link" href="{% url 'character:detail' navigation.next_character.slug %}">
            Next Character &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Character &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end character nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ character }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
    {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'character:update' character.slug %}" title="Edit character">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'character:delete' character.slug %}" title="Delete character">Delete</a>
      </p>
    {% else %}
      <p class="level-item">
        <a class="button is-primary" title="Edit character" disabled>Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" title="Delete character" disabled>Delete</a>
      </p>
    {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- character image -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if character.image %}
            {% thumbnail character.image "320x480" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ character.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ character.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of character image -->

    <!-- character summary -->
    <div class="column">
      <div class="box">
        {% if character.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ character.desc|linebreaksbr }}</p>
          {% if character.wikipedia %}
              <br/>
              <div class="content is-small">
                This article uses material from the Wikipedia article
                <a href="https://en.wikipedia.org/wiki/{{ character.wikipedia}}">
                  "{{ character.wikipedia }}"
                </a>
                , which is released under the
                <a href="https://creativecommons.org/licenses/by-sa/3.0/">
                  Creative Commons Attribution-Share-Alike License 3.0
                </a>.
              </div>
          {% endif %}
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
    </div>
    <!-- end of character summary -->
    
        <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Character Details</h1>
        <p><b>Number of Issue:</b> {{ character.issue_count }}</p>
        {% if character.issue_count > 0 %}
          <p><b>First Appearance:</b> {{ character.first_appearance }}</p>
        {% endif %}
        {% if character.alias %}
          {% with aliases=character.alias %}
            <p>
              <b>Alias{{ aliases|pluralize:"es" }}:</b>
              {% for alias in aliases %}{% if not forloop.first %}, {% endif %}{{ alias }}{% endfor %}
            </p>
          {% endwith %}
        {% endif %}
        {% with creators=character.creators.all %}
          {% if creators %}
            <br>
            <p><b>Creator{{ creators|pluralize }}</b></p>
            <div class="content">
              <dl>
              {% for creator in creators %}
              <li><a href="{% url 'creator:detail' creator.slug %}">{{ creator }}</a></li>
              {% endfor %}
              </dl>
            </div>
          {% endif %}
        {% endwith %}
        {% with teams=character.teams.all %}
          {% if teams %}
            <p><b>Team{{ teams|pluralize }}</b></p>
            <div class="content">
              <dl>
              {% for team in teams %}
              <li><a href="{% url 'team:detail' team.slug %}">{{ team }}</a></li>
              {% endfor %}
              </dl>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <!-- end misc info -->
    
  </div>
  <!-- end of main page content -->
{% endblock %}
