{% extends 'comicsdb/base.html' %}

{% block page-title %}Creator Form{% endblock page-title %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="field">
      <label class="label">Creator First Name</label>
      <div class="control">{{ form.first_name }}</div>
    </div>
    <div class="field">
      <label class="label">Creator Last Name</label>
      <div class="control">{{ form.last_name }}</div>
    </div>
    <div class="field">
      <label class="label">Slug</label>
      <div class="control">{{ form.slug }}</div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">{{ form.desc }}</div>
    </div>
    <div class="field">
      <label class="label">Date of Birth</label>
      <div class="control">{{ form.birth.errors }}{{ form.birth }}</div>
    </div>
    <div class="field">
      <label class="label">Date of Death</label>
      <div class="control">{{ form.death.errors }}{{ form.death }}</div>
    </div>
    <div class="field">
      <label class="label">Creator Image</label>
      <div class="control">{{ form.image }}</div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}