{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ creator.name }}{% endblock title %}

{% block comic_content %}
  <!-- creator nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_creator %}
          <a class="button is-link" href="{% url 'creator:detail' navigation.previous_creator.slug %}">
            &laquo; Previous Creator
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Creator</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_creator %}
          <a class="button is-link" href="{% url 'creator:detail' navigation.next_creator.slug %}">
            Next Creator &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Creator &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end creator nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ creator.name }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
    {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'creator:create' %}" title="Add a new creator">New</a>
      </p>
      <p class="level-item">
        <a class="button is-info" href="{% url 'creator:update' creator.slug %}" title="Edit creator">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'creator:delete' creator.slug %}" title="Delete creator">Delete</a>
      </p>
    {% else %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'creator:create' %}" title="Add a new creator" disabled>New</a>
      </p>
      <p class="level-item">
        <a class="button is-info" title="Edit creator" disabled>Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" title="Delete creator" disabled>Delete</a>
      </p>
    {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- creator image -->
    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-square">
          {% if creator.image %}
            {% thumbnail creator.image "256x256" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ creator.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ creator.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of creator image -->

    <!-- creator summary -->
    <div class="column">
      <div class="box">
        {% if creator.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ creator.desc|linebreaksbr }}</p>
          {% if creator.wikipedia %}
              <br/>
              <div class="content is-small">
                This article uses material from the Wikipedia article
                <a href="https://en.wikipedia.org/wiki/{{ creator.wikipedia}}">
                  "{{ creator.wikipedia }}"
                </a>
                , which is released under the
                <a href="https://creativecommons.org/licenses/by-sa/3.0/">
                  Creative Commons Attribution-Share-Alike License 3.0
                </a>.
              </div>
          {% endif %}
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
    </div>
    <!-- end of creator summary -->

    <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Creator Details</h1>
        {% if creator.birth %}
          <p><b>Birth:</b> {{ creator.birth|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        {% if creator.death %}
          <p><b>Death:</b> {{ creator.death|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        <p><b>Number of Issue:</b> {{ creator.issue_count }}</p>
      </div>
    </div>
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}
