{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Creator List{% endblock page-title %}

{% block comic_content %}

  {% if creator_list %}
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
              <strong>{{ page_obj.paginator.count }}</strong> Creator{{ page_obj.paginator.count|pluralize }}
          </p>
        </div>
        <div class="level-item">
          <form action="{% url 'creator:search' %}" method="get" accept-charset="utf-8">
            <div class="field has-addons">
              <p class="control">
                <input class="input" name="q" type="search" placeholder="Find a creator">
              </p>
              <p class="control">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
        {% if user.is_authenticated %}
          <a class="button is-primary" href="{% url 'creator:create' %}" title="Add a new creator">New</a>
        {% else %}
          <a class="button is-primary" title="Add a new creator" disabled>New</a>
        {% endif %}
        </p>
      </div>
    </nav>

    <div class="columns is-multiline">
      {% for creator in creator_list %}
      <div class="column is-one-quarter has-text-centered">
        <a href="{% url 'creator:detail' creator.slug %}">
          <figure class="image is-square">
          {% if creator.image %}
            {% thumbnail creator.image "256x256" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ creator.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ creator.name }}">
          {% endif %}
          </figure>
        </a>
        <a href="{% url 'creator:detail' creator.slug %}">{{ creator.name }}</a>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p>No Creators currently available. Do you want to create one?</p>
    <a class="button is-primary" href="{% url 'creator:create' %}" title="Add a new creator">New</a>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% include "comicsdb/pagination.html" %}
{% endblock %}