{% extends parent_template|default:"base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Creator Detail{% endblock page-title %}

{% block content %}
  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ creator.get_full_name }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">
        <a class="button is-primary" href="{% url 'creator:update' creator.slug %}" title="Edit creator">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'creator:delete' creator.slug %}" title="Delete creator">Delete</a>
      </p>
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- creator image -->
    <div class="column is-one-quarter">
      <div class="box">
        <figure class="image is-square">
          {% if creator.image %}
            {% thumbnail creator.image "256x256" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ creator.get_full_name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ creator.get_full_name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of creator image -->

    <!-- creator summary -->
    <div class="column">
      <div class="box">
        {% if creator.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ creator.desc|linebreaksbr }}</p>
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
    </div>
    <!-- end of creator summary -->

    <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Issue Details</h1>
        {% if creator.birth %}
          <p><b>Birth:</b> {{ creator.birth|date:"SHORT_DATE_FORMAT" }}</p>
        {% else %}
          <p><b>Birth:</b> Unknown</p>
        {% endif %}
        {% if creator.death %}
          <p><b>Death:</b> {{ creator.death|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        <p><b>Number of Issue:</b> {{ creator.issue_count }}</p>
      </div>
    </div>
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}
