{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load humanize %}
{% load static %}

{% block title %}Metron{% endblock %}

{% block content %}
  <!-- hero -->
  <section class="hero is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Metron</h1>
        <h2 class="subtitle">Comic Book Database</h2>
      </div>
    </div>
  </section>
  <!-- end hero -->

  <!-- information section --> 
  <section>
    <div class="container">
      <div class="columns">
        <!-- welcome column  -->
        <div class="column">
          <!-- info box -->
          <div class="box">
            <h1 class="title is-5">What?</h1>
            <h2 class="subtitle is-6">
              <strong>Metron</strong>
              is a community-based site whose goal is to build an open database with a
              <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a> API for comics.
            </h2>
            <br>
            <h1 class="title is-5">Why?</h1>
            <h2 class="subtitle is-6">
              Currently the only comic book database the provides a REST API for users is
              <a href="https://comicvine.gamespot.com/">Comic Vine</a>.
              Unfortunately, since it's a corporately-owned service, the community that uses it has no control
              over the amount of resources provided to maintain it or ensure it's continued accessibility.
            </h2>
            <br>
            <h1 class="title is-5">Want to join?</h1>
            <h2 class="subtitle is-6">
              Currently, the site is under heavy construction but I'll be opening up registration and adding some
              documentation fairly soon. If you have any questions, please <a href="{% url 'contact:email' %}">contact</a> me.
            </h2>
          </div>
          <!-- end info box -->

          <!-- this weeks issues -->
          {% if new %}
          <div class="box">
            <h1 class="title is-5">This Week's Issues</h1>
            <div class="columns is-multiline">
            {% for issue in new %}
              <div class="column is-one-fifth has-text-centered">
                <a href="{% url 'issue:detail' issue.slug %}">
                  <figure class="image is-2by3">
                    {% if issue.image %}
                      {% thumbnail issue.image "320x480" crop="center" format="WEBP" as im %}
                        <img src="{{ im.url }}" alt = "{{ issue }}">
                      {% endthumbnail %}
                    {% else %}
                      <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ issue }}">
                    {% endif %}
                  </figure>
                </a>
                <a href="{% url 'issue:detail' issue.slug %}">{{ issue }}</a>
              </div>
            {% endfor %}
            </div>
          </div>
          {% endif %}
          <!-- end this weeks issues -->

          <!-- recent issues -->
          <div class="box">
            <h1 class="title is-5">Recently Edited Issues</h1>
            <div class="columns is-multiline">
            {% for issue in recent %}
              <div class="column is-one-fifth has-text-centered">
                <a href="{% url 'issue:detail' issue.slug %}">
                  <figure class="image is-2by3">
                    {% if issue.image %}
                      {% thumbnail issue.image "320x480" crop="center" format="WEBP" as im %}
                        <img src="{{ im.url }}" alt = "{{ issue }}">
                      {% endthumbnail %}
                    {% else %}
                      <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ issue }}">
                    {% endif %}
                  </figure>
                </a>
                <a href="{% url 'issue:detail' issue.slug %}">{{ issue }}</a>
              </div>
            {% endfor %}
            </div>
          </div>
          <!-- end recent issues -->
        </div>
        <!-- end welcome column-->

        <!-- stats column -->
        <div class="column is-one-fifth">
          <div class="box">
            <h1 class="title is-5">Database Statistics</h1>
            <ul>
              <li>Publisher{{ publisher|pluralize }}: {{ publisher|intcomma }}</li>
              <li>Series: {{ series|intcomma }}</li>
              <li>Issue{{ issue|pluralize }}: {{ issue|intcomma }}</li>
              <li>Creator{{ creator|pluralize }}: {{ creator|intcomma }}</li>
              <li>Character{{ character|pluralize }}: {{ character|intcomma }}</li>
              <li>Team{{ team|pluralize }}: {{ team|intcomma }}</li>
              <li>Story Arc{{ arc|pluralize }}: {{ arc|intcomma }}</li>
            </ul>
          </div>
        </div>
        <!-- end stats column -->
      </div>
    </div>
  </section>
  <!-- end information section -->
{% endblock %}
