{% extends parent_template|default:"base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ imprint.name }}{% endblock title %}

{% block content %}
  <!-- imprint title -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ imprint }}</p>
        </div>
      </div>
    </div>
  </nav>
  <!--  end imprint title -->

  <!-- imprint nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_imprint %}
          <a class="button is-link" href="{% url 'imprint:detail' navigation.previous_imprint.slug %}">
            <span class="icon is-small"><i class="fas fa-arrow-left"></i></span>
            <span>Previous Imprint</span>
          </a>
        {% else %}
          <a class="button" disabled>
            <span class="icon is-small"><i class="fas fa-arrow-left"></i></span>
            <span>Previous Imprint</span>
          </a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_imprint %}
          <a class="button is-link" href="{% url 'imprint:detail' navigation.next_imprint.slug %}">
            <span>Next Imprint</span>
            <span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
          </a>
        {% else %}
          <a class="button" disabled>
            <span>Next Imprint</span>
            <span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="level-right">
{#      <div class="level-item">#}
{#        <a class="button is-link" href="{% url 'imprint:series' imprint.slug %}"#}
{#           title="Open series list for imprint">#}
{#          <span class="icon is-small"><i class="fas fa-list"></i></span>#}
{#          <span>Series List</span>#}
{#        </a>#}
{#      </div>#}
      {% if user.is_authenticated %}
        <p class="level-item">
          <a class="button is-primary" href="{% url 'imprint:create' %}" title="Add a new imprint">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>New</span>
          </a>
        </p>
        <p class="level-item">
          <a class="button is-info" href="{% url 'imprint:update' imprint.slug %}" title="Edit imprint">
            <span class="icon is-small"><i class="fas fa-edit"></i></span>
            <span>Edit</span>
          </a>
        </p>
        {% if perms.comicsdb.delete_imprint %}
          <p class="level-item">
            <a class="button is-danger" href="{% url 'imprint:delete' imprint.slug %}" title="Delete imprint">
              <span class="icon is-small"><i class="fas fa-trash"></i></span>
              <span>Delete</span>
            </a>
          </p>
        {% else %}
          <p class="level-item">
            <a class="button is-danger" title="Delete Imprint" disabled>Delete</a>
          </p>
        {% endif %}
      {% endif %}
    </div>
  </nav>
  <!-- end of imprint nav -->

  <!-- main page content -->
  <div class="columns">
    <!-- imprint logo -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if imprint.image %}
            {% thumbnail imprint.image "320x480" crop="center" format="WEBP" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ imprint.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.webp' %}" alt="No image for {{ imprint.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of imprint logo -->

    <!-- Center Column -->
    <div class="column">
      <!-- Summary -->
      <div class="box">
        <h1 class="title is-5">Summary</h1>
        {% if imprint.desc %}
          <p>{{ imprint.desc|linebreaksbr }}</p><br/>
        {% else %}
          <p>No information available.</p><br/>
        {% endif %}
        <div class="content is-small is-italic">
          Last edited on {{ imprint.modified }} by
          <a href="{% url 'user-detail' imprint.edited_by.id %}">
            {{ imprint.edited_by.username }}
          </a>
        </div>
      </div>
      <!-- end of summary -->

      <!-- attribution -->
      {% with attribution=imprint.attribution.all %}
        {% if attribution|length > 0 %}
          {% include "comicsdb/attribution.html" with object=attribution %}
        {% endif %}
      {% endwith %}
      <!-- end attribution-->
    </div>
    <!-- end of center column -->

    <!-- misc info -->
{#    {% if imprint.series_count > 0 or imprint.founded %}#}
      <div class="column is-one-fifth">
        <div class="box">
          <h1 class="title is-6">Imprint Details</h1>
          <p><b>Publisher:</b> <a href="{% url 'publisher:detail' imprint.publisher.slug %}">{{ imprint.publisher }}</a></p>
          {% if imprint.founded %}
            <p><b>Found:</b> {{ imprint.founded }}</p>
          {% endif %}
{#          {% if imprint.series_count > 0 %}#}
{#            <p><b>Number of Series:</b> {{ imprint.series_count|intcomma }}</p>#}
{#          {% endif %}#}
          <br/>
          <p><b>Metron ID:</b> {{ imprint.id }}</p>
          {% if imprint.cv_id %}
            <p><b>Comic Vine ID:</b> {{ imprint.cv_id }}</p>
          {% endif %}
        </div>
      </div>
{#    {% endif %}#}
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}