{% extends "comicsdb/comics_base.html" %}
{% load static %}
{% load bulma_tags %}

{% block title %}Issue Form{% endblock title %}

{% block comic_content %}
  <h1 class="title">{{ form|get_class }}</h1>
  {{ form.media }}
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <!-- main -->
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="notification is-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="notification is-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    {% for field in form %}
      <div class="field is-danger is-small">
        {{field.errors}}
      </div>
      <div class="field">
        <label class="label">{{ field.label }}</label>
        {% if field|is_select %}
          <div class="control">
            <div class="select {% if field|is_multiple_select %}is-multiple{% endif %}">
              {{ field }}
            </div>
          </div>
        {% else %}
          <div class="control">{{ field }}</div>
        {% endif %}
        {% if field.help_text %}
          <ul>
            <li class="help">{{ field.help_text|safe }}</li>
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    <!-- end main -->

    <!-- credits -->
    <label class="label">Credits</label>
    {{ credits.management_form }}

    {% for form in credits.forms %}
      <div class="field is-horizontal formset_row">
        <div class="field-body">
          {% for field in form.visible_fields %}
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endif %}
            <div class="field">
              {% if field|is_select %}
                <div class="control is-expanded">
                  <div class="select is-fullwidth {% if field|is_multiple_select %}is-multiple{% endif %}">
                    {{ field }}
                  </div>
                </div>
              {% else %}
                <div class="control">{{ field }}</div>
              {% endif %}
              {% if field.help_text %}
                <ul>
                  <li class="help">{{ field.help_text|safe }}</li>
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <!-- end credits -->

    <!-- submit -->
    <div class="field">
      <div class="control">
        <button class="button is-info" type="submit">Submit</button>
      </div>
    </div>
    <!-- end submit -->
  </form>
{% endblock %}

{% block js %}
<script src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>
<script src="{% static 'admin/js/urlify.js' %}"></script>
<script src="{% static 'site/js/issue-slug.js' %}"></script>
<script src="{% static 'site/js/image-selector-filename.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'site/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add another creator credit',
        deleteText: 'Remove?',
        prefix: 'credits_set'
    });
</script>
{% endblock %}