{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Issue Detail{% endblock page-title %}

{% block comic_content %}
  <!-- series issue nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_issue %}
          <a class="button is-link" href="{% url 'issue:detail' navigation.previous_issue.slug %}">
            &laquo; Previous Issue
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Issue</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_issue %}
          <a class="button is-link" href="{% url 'issue:detail' navigation.next_issue.slug %}">
            Next Issue &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Issue &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end series issue nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ issue }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
      {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-info" href="{% url 'issue:credit' issue.slug %}" title="Add issue credit">Add Credit</a>
      </p>
      <p class="level-item">
        <a class="button is-warning" href="{% url 'issue:variant' issue.slug %}" title="Add variant cover">Add Variant Cover</a>
      </p>
      <p class="level-item">
        <a class="button is-primary" href="{% url 'issue:update' issue.slug %}" title="Edit Issue">Edit Issue</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'issue:delete' issue.slug %}" title="Delete Issue">Delete Issue</a>
      </p>
      {% else %}
      <p class="level-item">
        <a class="button is-info" title="Add issue credit" disabled>Add Credit</a>
      </p>
      <p class="level-item">
        <a class="button is-primary" title="Edit Issue" disabled>Edit Issue</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" title="Delete Issue" disabled>Delete Issue</a>
      </p>
      {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- left column -->
    <div class="column is-one-quarter">
      <!-- main cover -->
      <div class="box">
        <figure class="image is-2by3">
          {% if issue.image %}
            {% thumbnail issue.image "320x480" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ issue }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ issue }}">
          {% endif %}
        </figure>
      </div>
      <!-- end of main cover -->

      <!-- variant covers -->
      {% with variants=issue.variant_set.all %}
        {% if variants %}
          {% for variant in variants %}
            <div class="box">
              <figure class="image is-2by3">
                {% if variant.image %}
                  {% thumbnail variant.image "320x480" crop="center" as im %}
                    <img src="{{ im.url }}" alt = "{{ variant }}">
                  {% endthumbnail %}
                {% else %}
                  <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ variant }}">
                {% endif %}
              </figure>
              <br/>
              <p class="has-text-centered"><strong>{{ variant.name }}</strong></p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- end variant covers -->
    </div>
    <!-- end left column -->

    <!-- middle sections -->
    <div class="column">

      <!-- issue summary -->
      <div class="box">
        <h1 class="title is-5">Summary</h1>
        {% if issue.name %}
          <p><strong><em>"{{ issue.name }}"</em></strong></p><br>
        {% endif %}
        {% if issue.desc %}
          <p>{{ issue.desc|linebreaksbr }}</p>
        {% else %}
           <p class="title is-5">No information available.</p>
        {% endif %}
      </div>
      <!-- end of issue summary -->

      <!-- issue credits -->
      {% with credits=issue.credits_set.all %}
        {% if credits %}
          <div class="box">
            <div class="columns">
              <div class="column">
                <h1 class="title is-5">Credit{{ credits|pluralize }}</h1>
                <div class="columns is-multiline">
                  <!-- creators -->
                  {% for credit in credits %}
                    <div class="column is-4">
                      <article class="media">
                        <div class="media-left">
                          <figure class="image is-64x64">
                            {% thumbnail credit.creator.image "64x64" crop="center" as im %}
                              <img src="{{ im.url }}" alt="{{ credit.creator }}">
                            {% endthumbnail %}
                          </figure>
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <p><a href="{% url 'creator:detail' credit.creator.slug %}">{{ credit.creator }}</a>
                            <br>
                            <!-- creator roles -->
                            {% with roles=credit.role.all %}
                              {% if roles %}
                                {% for role in roles %}<small><em>{% if not forloop.first %}, {% endif %}{{ role.name }}</em></small>{% endfor %}
                              {% endif %}
                            {% endwith %}
                            <!-- end creator roles -->
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                  {% endfor %}
                  <!-- end creators -->
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
      <!-- end issue credits -->

      <!-- characters -->
      {% with characters=issue.characters.all %}
        {% if characters %}
        <div class="box">
          <div class="columns">
            <div class="column">
              <h1 class="title is-5">Character{{ characters|pluralize }}</h1>
              <div class="columns is-multiline">
              {% for character in characters %}
                <div class="column is-4">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                      {% thumbnail character.image "64x64" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ character }}">
                      {% endthumbnail %}
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p><a href="{% url 'character:detail' character.slug %}">{{ character }}</a></p>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <!-- end characters -->

      <!-- teams -->
      {% with teams=issue.teams.all %}
        {% if teams %}
        <div class="box">
          <div class="columns">
            <div class="column">
              <h1 class="title is-5">Team{{ teams|pluralize }}</h1>
              <div class="columns is-multiline">
              {% for team in teams %}
                <div class="column is-4">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                      {% thumbnail team.image "64x64" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ character }}">
                      {% endthumbnail %}
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p><a href="{% url 'team:detail' team.slug %}">{{ team }}</a></p>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <!-- end teams -->

    </div>
    <!-- end middle sections -->

    <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Issue Details</h1>
        <p><b>Series:</b> {{ issue.series }}</p>
        <p><b>Number:</b> {{ issue.number }}</p>
        <p><b>Cover Date:</b> {{ issue.cover_date|date:"SHORT_DATE_FORMAT" }}</p>
        {% if issue.store_date %}
          <p><b>In Store Date:</b> {{ issue.store_date|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        {% with arcs=issue.arcs.all %}
          {% if arcs %}
            <br>
            <p><b>Story Arcs</b></p>
            <div class="content">
              <dl>
              {% for arc in arcs %}
              <li><a href="{% url 'arc:detail' arc.slug %}">{{ arc.name }}</a></li>
              {% endfor %}
              </dl>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}
