{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block sitedesc %}<meta name="description" content="{{ issue }} Information">{% endblock %}
{% block sitekeywords %}<meta name="keywords" content="{{ issue.series.publisher }}, {{ issue.series.name }}, {{ issue.cover_date|date:'F Y' }}{% with characters=issue.characters.all %}{% if characters %}{% for character in characters %}, {{ character.name }}{% endfor %}{% endif %}{% endwith %}">{% endblock %}
{% block title %}{{ issue }}{% endblock title %}

{% block comic_content %}
  <!-- issue cover modal -->
  <div id="modal-bis" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-2by3">
      {% thumbnail issue.image "640x960" crop="center" format="WEBP" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt = "{{ issue }}">
      {% endthumbnail %}
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <!-- end issue cover modal -->

  <!-- issue title -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">{{ issue }}</p>
      </div>
    </div>
  </nav>
  <!--  end series issue title -->

  <!-- issue navigation -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_issue %}
          <a class="button is-link" href="{% url 'issue:detail' navigation.previous_issue.slug %}">
        {% else %}
          <a class="button" disabled>
        {% endif %}           
            <span class="icon is-small">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Previous Issue</span>
          </a>
      </div>
      <div class="level-item">
        {% if navigation.next_issue %}
          <a class="button is-link" href="{% url 'issue:detail' navigation.next_issue.slug %}">
        {% else %}
          <a class="button" disabled>
        {% endif %}        
            <span>Next Issue</span>
            <span class="icon is-small">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
      </div>
    </div>
    <div class="level-right">
    {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'issue:create' %}" title="Add a new issue">
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span>New</span>
        </a>
      </p>
      <p class="level-item">
        <a class="button is-warning" href="{% url 'issue:variant' issue.slug %}" title="Add variant cover">
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add Variant Cover</span>
        </a>
      </p>
      <p class="level-item">
        <a class="button is-info" href="{% url 'issue:update' issue.slug %}" title="Edit Issue">
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
          <span>Edit</span>
        </a>
      </p>
      {% if perms.comicsdb.delete_issue %}
      <p class="level-item">
        <a class="button is-danger" href="{% url 'issue:delete' issue.slug %}" title="Delete Issue">
          <span class="icon is-small">
            <i class="fas fa-trash"></i>
          </span>
          <span>Delete</span>
        </a>
      </p>
      {% else %}
      <p class="level-item">
        <a class="button is-danger" title="Delete Issue" disabled>Delete</a>
      </p>
      {% endif %}
    {% endif %}
    </div>
  </nav>
  <!-- end of issue navigation -->

  <!-- main page content -->
  <div class="columns">
    <!-- left column -->
    <div class="column is-one-quarter">
      <!-- main cover -->
      <div class="box">
        <figure class="image is-2by3">
          {% if issue.image %}
            {% thumbnail issue.image "320x480" crop="center" format="WEBP" as im %}
            <a class="modal-button" data-target="modal-bis">
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt = "{{ issue }}">
            </a>
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.webp' %}" alt="No image for {{ issue }}">
          {% endif %}
        </figure>
        {% if issue.image %}
        <br/>
        <p class="subtitle is-6 has-text-centered">Click cover to view larger version</p>
        {% endif %}
      </div>
      <!-- end of main cover -->

      <!-- variant covers -->
      {% with variants=issue.variant_set.all %}
        {% if variants %}
          {% for variant in variants %}
            <div class="box">
              <figure class="image is-2by3">
                {% if variant.image %}
                  {% thumbnail variant.image "320x480" crop="center" format="WEBP" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt = "{{ variant }}">
                  {% endthumbnail %}
                {% else %}
                  <img src="{% static 'site/img/image-not-found.webp' %}" alt="No image for {{ variant }}">
                {% endif %}
              </figure>
              <br/>
              <p class="title is-6 has-text-centered"><strong>{{ variant.name }}</strong></p>
              {% if variant.sku %}
              <p class="subtitle is-6 has-text-centered">Distributor SKU: {{ variant.sku }}</p>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- end variant covers -->
    </div>
    <!-- end left column -->

    <!-- middle sections -->
    <div class="column">

      <!-- issue summary -->
      <div class="box">
        <h1 class="title is-5">Summary</h1>
        {% if issue.name %}
          {% with names=issue.name %}
            <p>
              <strong>
                <em>"{% for name in names %}{% if not forloop.first %}; {% endif %}{{ name }}{% endfor %}"</em>
              </strong>
            </p><br>
          {% endwith %}
        {% endif %}
        {% if issue.desc %}
          <p>{{ issue.desc|linebreaksbr }}</p>
        {% else %}
           <p>No summary available.</p>
        {% endif %}
        <br/>
        <div class="content is-small is-italic">
          Last edited on {{ issue.modified }} by <a href="{% url 'user-detail' issue.edited_by.id %}">{{ issue.edited_by.username }}</a>
        </div>
      </div>
      <!-- end of issue summary -->

      <!-- issue credits -->
      {% with credits=issue.credits_set.all %}
        {% if credits %}
          <div class="box">
            <div class="columns">
              <div class="column">
                <h1 class="title is-5">Credit{{ credits|pluralize }}</h1>
                <div class="columns is-multiline">
                  <!-- creators -->
                  {% for credit in credits %}
                    <div class="column is-4">
                      <article class="media">
                        <div class="media-left">
                          <figure class="image is-64x64">
                          {% if credit.creator.image %}
                            {% thumbnail credit.creator.image "64x64" crop="top" format="WEBP" as im %}
                            <img class="is-rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="{{ credit.creator }}">
                            {% endthumbnail %}
                          {% else %}
                            <img class="is-rounded" src="{% static 'site/img/creator-not-found.webp' %}" alt="No image for {{ credit.creator }}">
                          {% endif %}
                          </figure>
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <p><a href="{% url 'creator:detail' credit.creator.slug %}">{{ credit.creator }}</a>
                            <br>
                            <!-- creator roles -->
                            {% with roles=credit.role.all %}
                              {% if roles %}
                                <small><em>{% for role in roles %}{% if not forloop.first %}, {% endif %}{{ role.name }}{% endfor %}</em></small>
                              {% endif %}
                            {% endwith %}
                            <!-- end creator roles -->
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                  {% endfor %}
                  <!-- end creators -->
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
      <!-- end issue credits -->

      <!-- characters -->
      {% with characters=issue.characters.all %}
        {% if characters %}
        <div class="box">
          <div class="columns">
            <div class="column">
              <h1 class="title is-5">Character{{ characters|pluralize }}</h1>
              <div class="columns is-multiline">
              {% for character in characters %}
                <div class="column is-4">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                      {% if character.image %}
                        {% thumbnail character.image "64x64" crop="top" format="WEBP" as im %}
                        <img class="is-rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ character }}">
                        {% endthumbnail %}
                      {% else %}
                        <img class="is-rounded" src="{% static 'site/img/creator-not-found.webp' %}" alt="No image for {{ character }}">
                      {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p><a href="{% url 'character:detail' character.slug %}">{{ character }}</a></p>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <!-- end characters -->

      <!-- teams -->
      {% with teams=issue.teams.all %}
        {% if teams %}
        <div class="box">
          <div class="columns">
            <div class="column">
              <h1 class="title is-5">Team{{ teams|pluralize }}</h1>
              <div class="columns is-multiline">
              {% for team in teams %}
                <div class="column is-4">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                      {% if team.image %}
                        {% thumbnail team.image "64x64" crop="center" format="WEBP" as im %}
                          <img class="is-rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ team }}">
                        {% endthumbnail %}
                      {% else %}
                        <img class="is-rounded" src="{% static 'site/img/creator-not-found.webp' %}" alt="No image for {{ character }}">
                      {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p><a href="{% url 'team:detail' team.slug %}">{{ team }}</a></p>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <!-- end teams -->

    </div>
    <!-- end middle sections -->

    <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Issue Details</h1>
        <p><b>Series:</b> <a href="{% url 'series:detail' issue.series.slug %}">{{ issue.series }}</a></p>
        <p><b>Number:</b> {{ issue.number }}</p>
        <p><b>Cover Date:</b> {{ issue.cover_date|date:"SHORT_DATE_FORMAT" }}</p>
        {% if issue.store_date %}
          <p><b>In Store Date:</b> {{ issue.store_date|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        {% if issue.price %}
          <p><b>Cover Price:</b> ${{ issue.price }}</p>
        {% endif %}
        {% if issue.page %}
          <p><b>Page Count:</b> {{ issue.page }}</p>
        {% endif %}
        {% if issue.sku %}
          <p><b>Distributor SKU:</b> {{ issue.sku }}</p>
        {% endif %}
        {% if issue.upc %}
          <p><b>UPC:</b> {{ issue.upc }}</p>
        {% endif %}
        {% with arcs=issue.arcs.all %}
          {% if arcs %}
            <br>
            <p><b>Story Arcs</b></p>
            <div class="content">
              <ul>
              {% for arc in arcs %}
                <li><a href="{% url 'arc:detail' arc.slug %}">{{ arc.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
        <br />
        <p><b>Metron ID:</b> {{ issue.id }}</p>
      </div>
    </div>
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}

