{% extends 'comicsdb/base.html' %}

{% block page-title %}Publisher Form{% endblock page-title %}

{% block content %}
  <form method="post">
  {% csrf_token %}
    <div class="field">
      <label class="label">Publisher Name</label>
      <div class="control">{{ form.name }}</div>
    </div>
    <div class="field">
      <label class="label">Slug</label>
      <div class="control">{{ form.slug }}</div>
    </div>
    <div class="field">
      <label class="label">Founded</label>
      <div class="control">{{ form.founded }}</div>
    </div>
    <div class="field">
      <label class="label">Short Description</label>
      <div class="control">{{ form.short_desc }}</div>
    </div>
    <div class="field">
      <label class="label">Long Description</label>
      <div class="control">{{ form.desc }}</div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}