{% extends 'comicsdb/base.html' %}
{% load static %}

{% block page-title %}Publisher Detail{% endblock page-title %}

{% block content %}
  <nav class="level">
    <div class="level-left">
      <p class="level-item">
        <a class="button is-primary" href="{% url 'publisher:update' publisher.slug %}" title="Edit publisher">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'publisher:delete' publisher.slug %}" title="Delete publisher">Delete</a>
      </p>
    </div>
  </nav>

  <section class="hero is-info is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ publisher.name }}</h1>
        {% if publisher.founded %}
          <h2 class="subtitle">Founded in {{ publisher.founded }}</h2>
        {% endif %}
      </div>
    </div>
  </section>

  {% if publisher.desc %}
    <section>
      <div class="container">
        <h2 class="title">Description</h2>
        <h3 class="subtitle">{{ publisher.desc|linebreaksbr }}</h3>
      </div>
    </section>
  {% endif %}
{% endblock %}