{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ publisher.name }}{% endblock title %}

{% block comic_content %}
  <!-- publisher nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_publisher %}
          <a class="button is-link" href="{% url 'publisher:detail' navigation.previous_publisher.slug %}">
            <span class="icon is-small">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Previous Publisher</span>
          </a>
        {% else %}
            <a class="button" disabled>
            <span class="icon is-small">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Previous Publisher</span>
            </a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_publisher %}
          <a class="button is-link" href="{% url 'publisher:detail' navigation.next_publisher.slug %}">
            <span>Next Publisher</span>
            <span class="icon is-small">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        {% else %}
          <a class="button" disabled>
            <span>Next Publisher</span>
            <span class="icon is-small">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end publisher nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div><p class="title">{{ publisher }}</p></div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
          <a class="button is-link" href="{% url 'publisher:series' publisher.slug %}" title="Open series list for publisher">
            Series List
          </a>
      </div>
      {% if user.is_authenticated %}
        <p class="level-item">
          <a class="button is-primary" href="{% url 'publisher:create' %}" title="Add a new publisher">New</a>
        </p>
        <p class="level-item">
          <a class="button is-info" href="{% url 'publisher:update' publisher.slug %}" title="Edit publisher">Edit</a>
        </p>
        {% if perms.comicsdb.delete_publisher %}
        <p class="level-item">
          <a class="button is-danger" href="{% url 'publisher:delete' publisher.slug %}" title="Delete publisher">Delete</a>
        </p>
        {% else %}
        <p class="level-item">
          <a class="button is-danger" title="Delete publisher" disabled>Delete</a>
        </p>        
        {% endif %}
      {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- publisher logo -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if publisher.image %}
            {% thumbnail publisher.image "320x480" crop="center" format="WEBP" as im %}
              <img src="{{ im.url }}" alt = "{{ publisher.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.webp' %}" alt="No image for {{ publisher.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of publisher logo -->

    <!-- publisher summary -->
    <div class="column">
      <div class="box">
        <h1 class="title is-5">Summary</h1>
        {% if publisher.desc %}
          <p>{{ publisher.desc|linebreaksbr }}</p>
          {% if publisher.wikipedia %}
              <br/>
              <div class="content is-small">
                This article uses material from the Wikipedia article
                <a href="https://en.wikipedia.org/wiki/{{ publisher.wikipedia}}">
                  "{{ publisher.wikipedia }}"
                </a>
                , which is released under the
                <a href="https://creativecommons.org/licenses/by-sa/3.0/">
                  Creative Commons Attribution-Share-Alike License 3.0
                </a>.
              </div>
          {% else %}
          <br/>
          {% endif %}
        {% else %}
           <p>No information available.</p>
           <br/>
        {% endif %}
        <div class="content is-small is-italic">Last edited on {{ publisher.modified }} by {{ publisher.edited_by.username }}</div>
      </div>
    </div>
    <!-- end of publisher summary -->

    <!-- misc info -->
    {% if publisher.series_count > 0 or publisher.founded %}
    <div class="column is-one-fifth">
      <div class="box">
        <h1 class="title is-6">Publisher Details</h1>
        {% if publisher.founded %}
          <p><b>Found:</b> {{ publisher.founded }}</p>
        {% endif %}
        {% if publisher.series_count > 0 %}
          <p><b>Number of Series:</b> {{ publisher.series_count }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}
