{% extends 'comicsdb/base.html' %}
{% load static %}

{% block page-title %}Publisher Detail{% endblock page-title %}

{% block content %}
  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ publisher }}</p>
          {% if publisher.founded %}
            <p class="heading">founded in {{ publisher.founded }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item">
        <a class="button is-primary" href="{% url 'publisher:update' publisher.slug %}" title="Edit publisher">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'publisher:delete' publisher.slug %}" title="Delete publisher">Delete</a>
      </p>
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- publisher logo -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if publisher.image %}
            <img src="{{ publisher.image.url }}" alt = "{{ publisher.name }}" >
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ publisher.name }}" >
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of publisher logo -->

    <!-- publisher summary -->
    <div class="column">
      <div class="box">
        {% if publisher.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ publisher.desc|linebreaksbr }}</p>
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
    </div>
    <!-- end of publisher summary -->
  </div>
  <!-- end of main page content -->
{% endblock %}
