{% extends 'comicsdb/base.html' %}
{% load static %}

{% block page-title %}Series Detail{% endblock page-title %}

{% block content %}
  <nav class="level">
    <div class="level-left">
      <p class="level-item">
        <a class="button is-primary" href="{% url 'series:update' series.slug %}" title="Edit series">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'series:delete' series.slug %}" title="Delete series">Delete</a>
      </p>
    </div>
  </nav>

  <section class="hero is-info is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ series }}</h1>
        {% if series.series_type %}
          <h2 class="subtitle">{{ series.series_type }}</h2>
        {% endif %}
      </div>
    </div>
  </section>

  {% if series.desc %}
    <section>
      <div class="container">
        <h2 class="title">Description</h2>
        <h3 class="subtitle">{{ series.desc|linebreaksbr }}</h3>
      </div>
    </section>
  {% endif %}
{% endblock %}