{% extends "comicsdb/comics_base.html" %}
{% load bulma_tags %}

{% block title %}Series Form{% endblock title %}

{% block comic_content %}
  <h1 class="title">Series Form</h1>
  <form method="post">
  {% csrf_token %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="notification is-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="notification is-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    {% for field in form %}
      <div class="field">
        <label class="label">{{ field.label }}</label>
        {% if field|is_select %}
          <div class="control">
            <div class="select">
              {{ field }}
            </div>
          </div>
        {% else %}
          <div class="control">{{ field }}</div>
        {% endif %}
        {% if field.help_text %}
          <ul>
            <li class="help">{{ field.help_text|safe }}</li>
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    <div class="field">
      <div class="control">
        <button class="button is-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}