{% extends parent_template|default:"base.html" %}

{% block page-title %}Series Form{% endblock page-title %}

{% block content %}
  <form method="post">
  {% csrf_token %}
    <div class="field">
      <label class="label">Series Name</label>
      <div class="control has-text-danger">{{ form.name.errors }}{{ form.name }}</div>
    </div>
    <div class="field">
      <label class="label">Slug</label>
      <div class="control has-text-danger">{{ form.slug.errors }}{{ form.slug }}</div>
    </div>
    <div class="field">
      <label class="label">Sort Name</label>
      <div class="control has-text-danger">{{ form.sort_name.errors }}{{ form.sort_name }}</div>
    </div>
    <div class="field">
      <label class="label">Publisher</label>
      <div class="control">
        <div class="select">{{ form.publisher }}</div>
      </div>
    </div>
    <div class="field">
      <label class="label">Series Type</label>
      <div class="control">
        <div class="select">{{ form.series_type }}</div>
      </div>
    </div>
    <div class="field">
      <label class="label">Volume</label>
      <div class="control has-text-danger">{{ form.volume.errors }}{{ form.volume }}</div>
    </div>
    <div class="field">
      <label class="label">Year Began</label>
      <div class="control has-text-danger">{{ form.year_began.errors }}{{ form.year_began }}</div>
    </div>
    <div class="field">
      <label class="label">Year Ended</label>
      <div class="control has-text-danger">{{ form.year_end.errors }}{{ form.year_end }}</div>
    </div>
    <div class="field">
      <label class="label">Short Description</label>
      <div class="control has-text-danger">{{ form.short_desc.errors }}{{ form.short_desc }}</div>
    </div>
    <div class="field">
      <label class="label">Long Description</label>
      <div class="control has-text-danger">{{ form.desc.errors }}{{ form.desc }}</div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}