{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page-title %}Series List{% endblock page-title %}

{% block comic_content %}

  {% if series_list %}
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>{{ total }}</strong> Series
          </p>
        </div>
        <div class="level-item">
          <form action="{% url 'series:search' page=1 %}" method="get" accept-charset="utf-8">
            <div class="field has-addons">
              <p class="control">
                <input class="input" name="q" type="search" placeholder="Find a series">
              </p>
              <p class="control">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
          {% if user.is_authenticated %}
            <a class="button is-primary" href="{% url 'series:create' %}" title="Add a new series">New</a>
          {% else %}
            <a class="button is-primary" title="Add a new series" disabled>New</a>
          {% endif %}
        </p>
      </div>
    </nav>

    <div class="columns is-multiline">
      {% for series in series_list %}
      <div class="column is-one-quarter has-text-centered">
        <a href="{% url 'series:detail' series.slug %}">
          <figure class="image is-2by3">
            {% if series.issue_set.first.image %}
              {% thumbnail series.issue_set.first.image "320x480" crop="center" as im %}
                <img src="{{ im.url }}" alt = "{{ series }}">
              {% endthumbnail %}
            {% else %}
              <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ series }}">
            {% endif %}
          </figure>
        </a>
        <a href="{% url 'series:detail' series.slug %}">{{ series }}</a>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p>No Series currently available. Do you want to add one?</p>
  <a class="button is-primary" href="{% url 'series:create' %}" title="Add a new series">New</a>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% if is_paginated %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
      <a class="pagination-previous" href="{% url 'series:list' page=page_obj.previous_page_number %}">Previous</a>
    {% else %}
      <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a class="pagination-next" href="{% url 'series:list' page=page_obj.next_page_number %}">Next page</a>
    {% else %}
      <a class="pagination-next" title="This is the last page" disabled>Next page</a>
    {% endif %}

    <ul class="pagination-list">
      {% if page_obj.number > 1 %}
        <li><a class="pagination-link" href="{% url 'series:list' page=1 %}" aria-label="Goto page 1">1</a></li>
      {% endif %}

      {% if page_obj.number  > 2 %}
        {% if page_obj.number > 3 %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li>
            <a class="pagination-link" href="{% url 'series:list' page=page_obj.previous_page_number %}" aria-label="Goto page {{page_obj.previous_page_number}}">
              {{page_obj.previous_page_number}}
            </a>
          </li>
        {% else %}
          <li>
            <a class="pagination-link" href="{% url 'series:list' page=page_obj.previous_page_number %}" aria-label="Goto page {{page_obj.previous_page_number}}">
              {{page_obj.previous_page_number}}
            </a>
          </li>
        {% endif %}
      {% endif %}

      <li>
        <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">
          {{ page_obj.number }}
        </a>
      </li>

      {% if page_obj.next_page_number < paginator.num_pages %}
        {% if page_obj.next_page_number < paginator.num_pages|add:'-1' %}
          <li>
            <a class="pagination-link" href="{% url 'series:list' page=page_obj.next_page_number %}" aria-label="Goto page {{ page_obj.next_page_number }}">
              {{ page_obj.next_page_number}}
            </a>
          </li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% else %}
          <li>
            <a class="pagination-link" href="{% url 'series:list' page=page_obj.next_page_number %}" aria-label="Goto page {{ page_obj.next_page_number }}">
              {{ page_obj.next_page_number}}
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if page_obj.number < paginator.num_pages %}
        <li>
          <a class="pagination-link" href="{% url 'series:list' page=paginator.num_pages %}" aria-label="Goto page {{ paginator.num_pages }}">
            {{ paginator.num_pages }}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}