{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ series.name }}{% endblock title %}

{% block comic_content %}
  <!-- series nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_series %}
          <a class="button is-link" href="{% url 'series:detail' navigation.previous_series.slug %}">
            &laquo; Previous Series
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Series</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_series %}
          <a class="button is-link" href="{% url 'series:detail' navigation.next_series.slug %}">
            Next Series &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Series &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end series nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ series }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
          <a class="button is-link" href="{% url 'series:issue' series.slug %}" title="Open issue list for series">
            Issue List
          </a>
      </div>
      {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'series:create' %}" title="Add a new series">New</a>
      </p>
      <p class="level-item">
        <a class="button is-info" href="{% url 'series:update' series.slug %}" title="Edit Series">Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" href="{% url 'series:delete' series.slug %}" title="Delete Series">Delete</a>
      </p>
      {% else %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'series:create' %}" title="Add a new series" disabled>New</a>
      </p>
      <p class="level-item">
        <a class="button is-info" title="Edit Series" disabled>Edit</a>
      </p>
      <p class="level-item">
        <a class="button is-danger" title="Delete Series"disabled>Delete</a>
      </p>
      {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- series image -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if series.issue_set.first.image %}
            {% thumbnail series.issue_set.first.image "320x480" crop="center" as im %}
              <img src="{{ im.url }}" alt = "{{ series }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ series }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of series image -->

    <!-- series summary -->
    <div class="column">
      <div class="box">
        {% if series.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ series.desc|linebreaksbr }}</p>
        {% else %}
           <p class="title is-5">No information available.</p>
        {% endif %}
      </div>
    </div>
    <!-- end of series summary -->

    <!-- misc info -->
    <div class="column is-one-fifth">
      <div class="box">
        <p><b>Publisher:</b> {{ series.publisher }}</p>
        <p><b>Type:</b> {{ series.series_type }}</p>
        {% if series.volume %}
          <p><b>Volume:</b> {{ series.volume }}</p>
        {% endif %}
        <p><b>Started:</b> {{ series.year_began }}</p>
        {% if series.year_end %}
          <p><b>Ended:</b> {{ series.year_end }}</p>
        {% endif %}
        {% if series.issue_count > 0 %}
          <p><b>Number of Issues:</b> {{ series.issue_count }}</p>
        {% endif %}
      </div>
    </div>
    <!-- end misc info -->
  </div>
  <!-- end of main page content -->
{% endblock %}
