{% extends "comicsdb/comics_base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ team.name }}{% endblock title %}

{% block comic_content %}
  <!-- team nav -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if navigation.previous_team %}
          <a class="button is-link" href="{% url 'team:detail' navigation.previous_team.slug %}">
            &laquo; Previous Team
          </a>
        {% else %}
            <a class="button" disabled>&laquo; Previous Team</a>
        {% endif %}
      </div>
      <div class="level-item">
        {% if navigation.next_team %}
          <a class="button is-link" href="{% url 'team:detail' navigation.next_team.slug %}">
            Next Team &raquo;
          </a>
        {% else %}
          <a class="button" disabled>Next Team &raquo;</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--  end team nav -->

  <!-- page header -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="title">{{ team }}</p>
        </div>
      </div>
    </div>
    <div class="level-right">
    {% if user.is_authenticated %}
      <p class="level-item">
        <a class="button is-primary" href="{% url 'team:create' %}" title="Add a new team">New</a>
      </p>
      <p class="level-item">
        <a class="button is-info" href="{% url 'team:update' team.slug %}" title="Edit team">Edit</a>
      </p>
      {% if perms.comicsdb.delete_team %}
      <p class="level-item">
        <a class="button is-danger" href="{% url 'team:delete' team.slug %}" title="Delete team">Delete</a>
      </p>
      {% else %}
      <p class="level-item">
        <a class="button is-danger" title="Delete team" disabled>Delete</a>
      </p>
      {% endif %}
    {% endif %}
    </div>
  </nav>
  <!-- end of page header -->

  <!-- main page content -->
  <div class="columns">
    <!-- left column -->
    <div class="column is-one-fifth">
      <div class="box">
        <figure class="image is-2by3">
          {% if team.image %}
            {% thumbnail team.image "320x480" crop="center" format="WEBP" as im %}
              <img src="{{ im.url }}" alt = "{{ team.name }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="No image for {{ team.name }}">
          {% endif %}
        </figure>
      </div>
    </div>
    <!-- end of left column -->

    <!-- middle column -->
    <div class="column">
      <!-- summary -->
      <div class="box">
        {% if team.desc %}
          <h1 class="title is-5">Summary</h1>
          <p>{{ team.desc|linebreaksbr }}</p>
          {% if team.wikipedia %}
              <br/>
              <div class="content is-small">
                This article uses material from the Wikipedia article
                <a href="https://en.wikipedia.org/wiki/{{ team.wikipedia}}">
                  "{{ team.wikipedia }}"
                </a>
                , which is released under the
                <a href="https://creativecommons.org/licenses/by-sa/3.0/">
                  Creative Commons Attribution-Share-Alike License 3.0
                </a>.
              </div>
          {% endif %}
        {% else %}
           <h1 class="title is-5">No information available.</h1>
        {% endif %}
      </div>
      <!-- end summary -->

      <!-- members -->
      {% with characters=team.character_set.all %}
        {% if characters %}
        <div class="box">
          <div class="columns">
            <div class="column">
              <h1 class="title is-5">Member{{ characters|pluralize }}</h1>
              <div class="columns is-multiline">
              {% for character in characters %}
                <div class="column is-4">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                      {% thumbnail character.image "64x64" crop="center" format="WEBP" as im %}
                        <img src="{{ im.url }}" alt="{{ character }}">
                      {% endthumbnail %}
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p><a href="{% url 'character:detail' character.slug %}">{{ character }}</a></p>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      <!-- end members -->
    </div>
    <!-- end middle column -->

    <!-- right column -->
    <div class="column is-one-fifth">
      <!-- misc info -->
      <div class="box">
        <h1 class="title is-6">Team Details</h1>
        <p><b>Number of Issues:</b> {{ team.issue_count }}</p>
        {% with creators=team.creators.all %}
          {% if creators %}
            <br>
            <p><b>Creator{{ creators|pluralize }}</b></p>
            <div class="content">
              <ul>
              {% for creator in creators %}
              <li><a href="{% url 'creator:detail' creator.slug %}">{{ creator }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
      </div>
      <!-- end misc info -->
    </div>
    <!-- end right column -->
  </div>
  <!-- end of main page content -->
{% endblock %}
