{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'site/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body class="has-navbar-fixed-top">
    {% include "navbar.html" %}

    {% block content %}{% endblock %}

    {% if is_paginated %}
    <section class="section">
      <div class="container">
        {% block pagination %}{% endblock %}
      </div>
    </section>
    {% endif %}

    <footer class="footer">
      <div class="content has-text-centered is-small">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
          </a>
          <br />
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution-ShareAlike 4.0 International License
          </a>.
        </p>
        <p>
          Icons made by
          <a href="http://www.freepik.com" title="Freepik" target="_blank" rel="noopener noreferrer">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon" target="_blank" rel="noopener noreferrer">
            www.flaticon.com
          </a>
          is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener noreferrer">
            CC 3.0 BY
          </a>
        </p>
      </div>
    </footer>

    {% block js %}{% endblock %}
    <script src="{% static 'site/js/navbar.js' %}"></script>
  </body>
</html>