{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block sitedesc %}{% endblock %}
    {% block sitekeywords %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'site/img/favicon.ico' %}" />
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
    <link rel="stylesheet" href="{% static 'site/css/base.css' %}">
    {% block headscripts %}{% endblock %}
  </head>
  <body class="has-navbar-fixed-top">
    {% include "navbar.html" %}

    {% block content %}{% endblock %}

    {% if is_paginated %}
    <section class="section">
      <div class="container">
        {% block pagination %}{% endblock %}
      </div>
    </section>
    {% endif %}

    {% include "footer.html" %}

    {% block js %}{% endblock %}
    <script data-goatcounter="https://metron.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>