{% load static %}
{% load thumbnail %}
{% load flatpages %}
<nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="navbar-banner" class="navbar-item" href="{% url 'home' %}">
      <img src="{% static 'site/img/metron.svg' %}" alt="Logo">
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Releases</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'issue:thisweek' %}">
            <span class="icon">
              <i class="fas fa-star"></i>
            </span>
            <span>This Week</span>
          </a>
          <a class="navbar-item" href="{% url 'issue:nextweek' %}">
            <span class="icon">
              <i class="fas fa-bolt"></i>
            </span>
            <span>Next Week</span>
          </a>
          <a class="navbar-item" href="{% url 'issue:future' %}">
            <span class="icon">
              <i class="fas fa-gem"></i>
            </span>
            <span>Future</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Browse</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'publisher:list' %}">
            <span class="icon">
              <i class="fas fa-building"></i>
            </span>
            <span>Publishers</span>
          </a>
          <a class="navbar-item" href="{% url 'series:list' %}">
            <span class="icon">
              <i class="fas fa-archive"></i>
            </span>
            <span>Series</span>
          </a>
          <a class="navbar-item" href="{% url 'issue:list' %}">
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
            <span>Issues</span>
          </a>
          <a class="navbar-item" href="{% url 'creator:list' %}">
            <span class="icon">
              <i class="fas fa-user-edit"></i>
            </span>
            <span>Creators</span>
          </a>
          <a class="navbar-item" href="{% url 'character:list' %}">
            <span class="icon">
              <i class="fas fa-user-astronaut"></i>
            </span>
            <span>Characters</span>
          </a>
          <a class="navbar-item" href="{% url 'arc:list' %}">
            <span class="icon">
              <i class="fas fa-lightbulb"></i>
            </span>
            <span>Story Arcs</span>
          </a>
          <a class="navbar-item" href="{% url 'team:list' %}">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            <span>Teams</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">More</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'flatpage:contribute' %}">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>How To Contribute FAQ</span>
          </a>
          <a class="navbar-item" href="{% url 'flatpage:editing-guidelines' %}">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Editing Guidelines</span>
          </a>
          {% if user.is_authenticated %}
          <a class="navbar-item" href="/docs/">
            <span class="icon">
              <i class="fas fa-file"></i>
            </span>
            <span>API Docs</span>
          </a>
          {% endif %}
          <a class="navbar-item" href="{% url 'statistics' %}">
            <span class="icon">
              <i class="fas fa-chart-bar"></i>
            </span>
            <span>Statistics</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://github.com/bpepple/metron/issues/new/choose">
            <span class="icon">
              <i class="fas fa-bug"></i>
            </span>
            <span>Report an issue</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="https://metron-project.github.io" target="_blank">
        <span class="icon"">
          <i class="fab fa-lg fa-github"></i>
        </span>
      </a>
      <a class="navbar-item" href="https://mastodon.social/@metron" target="_blank">
        <span class="icon">
          <i class="fab fa-lg fa-mastodon"></i>
        </span>
      </a>
      {% if user.is_authenticated %}
      <div class="navbar-item has-dropdown is-hoverable">
        {% if user.image %}
          <a class="navbar-link">
            {% thumbnail user.image "32x32" crop="center" format="WEBP" as im %}
            <figure class="image is-32x32">
              <img class="is-rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ user.username }}">
            </figure>
            {% endthumbnail %}
            {% if user.get_full_name %}
              <span>&nbsp;&nbsp;{{ user.get_full_name }}</span>
            {% else %}
              <span>&nbsp;&nbsp;{{ user.username }}</span>
            {% endif %}
          </a>
        {% else %}
          <a class="navbar-link">{{ user.username }}</a>
        {% endif%}
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="{% url 'change_profile' %}">
            <span class="icon">
              <i class="fas fa-user-cog"></i>
            </span>
            <span>Edit Profile</span>
          </a>
          <a class="navbar-item" href="{% url 'logout' %}">
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Log out</span>
          </a>
        </div>
      </div>
      {% else %}
      <div class="navbar-item">
        <a class="button is-primary" href="{% url 'signup' %}">
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
          <span>Sign Up</span>
        </a>
      </div>
      <div class="navbar-item">
        <a class="button is-light" href="{% url 'login' %}">
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>Log in</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>