{% load static %}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          <img src="{% static 'site/img/atomic-symbol.png' %}" width="24" height="24">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Browse</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'publisher:list' page=1 %}">Publishers</a>
              <a class="navbar-item" href="{% url 'series:list' page=1 %}">Series</a>
              <a class="navbar-item" href="{% url 'issue:list' page=1 %}">Issues</a>
              <a class="navbar-item" href="{% url 'creator:list' page=1 %}">Creators</a>
              <a class="navbar-item" href="{% url 'character:list' page=1 %}">Characters</a>
              <a class="navbar-item" href="{% url 'arc:list' page=1 %}">Story Arcs</a>
              <a class="navbar-item" href="{% url 'team:list' page=1 %}">Teams</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/pages/contribute/">How To Contribute FAQ</a>
              <a class="navbar-item" href="/docs/">API Docs</a>
              <hr class="navbar-divider">
              <a class="navbar-item">Report an issue</a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          {% if user.is_authenticated %}
            <div class="navbar-item">
              <a class="button is-light" href="{% url 'logout' %}">Log out</a>
            </div>
          {% else %}
            <div class="navbar-item">
              <a class="button is-light" href="{% url 'signup' %}" disabled>Sign Up</a>
            </div>
            <div class="navbar-item">
              <a class="button is-light" href="{% url 'login' %}">Log in</a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>